In [106]:
import requests
import defs
import pandas as pd

In [107]:
session = requests.Session()

In [108]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [109]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [110]:
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [111]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [112]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [113]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [114]:
response.status_code

200

In [115]:
data = response.json()

In [116]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [117]:
len(data['candles'])

10

In [118]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l']

In [119]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
bid_o
bid_h
bid_l
ask_o
ask_h
ask_l

In [120]:
data['candles'][0]['bid']['o']

'1.08785'

In [121]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict [f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)
print(our_data[0])

{'time': '2023-01-27T12:00:00.000000000Z', 'volume': 4142, 'mid_o': '1.08792', 'mid_h': '1.08808', 'mid_l': '1.08664', 'bid_o': '1.08785', 'bid_h': '1.08801', 'bid_l': '1.08657', 'ask_o': '1.08798', 'ask_h': '1.08816', 'ask_l': '1.08671'}

In [122]:
candles_df = pd.DataFrame.from_dict(our_data)

In [123]:
candles_df

,time,volume,mid_o,mid_h,mid_l,bid_o,bid_h,bid_l,ask_o,ask_h,ask_l
0,2023-01-27T12:00:00.000000000Z,4142,1.08792,1.08808,1.08664,1.08785,1.08801,1.08657,1.08798,1.08816,1.08671
1,2023-01-27T13:00:00.000000000Z,8206,1.08668,1.08778,1.08594,1.08660,1.08771,1.08587,1.08675,1.08786,1.08601
2,2023-01-27T14:00:00.000000000Z,10729,1.08622,1.08769,1.08453,1.08614,1.08762,1.08445,1.08631,1.08776,1.08461
3,2023-01-27T15:00:00.000000000Z,11955,1.08653,1.08792,1.08379,1.08641,1.08784,1.08372,1.08665,1.08800,1.08386
4,2023-01-27T16:00:00.000000000Z,7433,1.08386,1.08674,1.08382,1.08380,1.08667,1.08375,1.08393,1.08682,1.08388
5,2023-01-27T17:00:00.000000000Z,4626,1.08565,1.08719,1.08526,1.08557,1.08712,1.08519,1.08573,1.08726,1.08533
6,2023-01-27T18:00:00.000000000Z,3452,1.08665,1.08677,1.08564,1.08658,1.08671,1.08556,1.08672,1.08685,1.08571
7,2023-01-27T19:00:00.000000000Z,2813,1.08658,1.08724,1.08642,1.08651,1.08717,1.08635,1.08665,1.08732,1.08650
8,2023-01-27T20:00:00.000000000Z,1981,1.08686,1.08730,1.08642,1.08678,1.08723,1.08634,1.08694,1.08737,1.08648
9,2023-01-27T21:00:00.000000000Z,1385,1.08653,1.08695,1.08651,1.08646,1.08685,1.08643,1.08660,1.08716,1.08659

In [124]:
candles_df.to_pickle("EUR_USD_H1.pk1")

In [125]:
test_df = pd.read_pickle("EUR_USD_H1.pk1")

In [126]:
test_df

,time,volume,mid_o,mid_h,mid_l,bid_o,bid_h,bid_l,ask_o,ask_h,ask_l
0,2023-01-27T12:00:00.000000000Z,4142,1.08792,1.08808,1.08664,1.08785,1.08801,1.08657,1.08798,1.08816,1.08671
1,2023-01-27T13:00:00.000000000Z,8206,1.08668,1.08778,1.08594,1.08660,1.08771,1.08587,1.08675,1.08786,1.08601
2,2023-01-27T14:00:00.000000000Z,10729,1.08622,1.08769,1.08453,1.08614,1.08762,1.08445,1.08631,1.08776,1.08461
3,2023-01-27T15:00:00.000000000Z,11955,1.08653,1.08792,1.08379,1.08641,1.08784,1.08372,1.08665,1.08800,1.08386
4,2023-01-27T16:00:00.000000000Z,7433,1.08386,1.08674,1.08382,1.08380,1.08667,1.08375,1.08393,1.08682,1.08388
5,2023-01-27T17:00:00.000000000Z,4626,1.08565,1.08719,1.08526,1.08557,1.08712,1.08519,1.08573,1.08726,1.08533
6,2023-01-27T18:00:00.000000000Z,3452,1.08665,1.08677,1.08564,1.08658,1.08671,1.08556,1.08672,1.08685,1.08571
7,2023-01-27T19:00:00.000000000Z,2813,1.08658,1.08724,1.08642,1.08651,1.08717,1.08635,1.08665,1.08732,1.08650
8,2023-01-27T20:00:00.000000000Z,1981,1.08686,1.08730,1.08642,1.08678,1.08723,1.08634,1.08694,1.08737,1.08648
9,2023-01-27T21:00:00.000000000Z,1385,1.08653,1.08695,1.08651,1.08646,1.08685,1.08643,1.08660,1.08716,1.08659